*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	background-color: ;
}
#header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	background-size: cover;
	background-position: center;
	height: 90px;
	background-color: #e8a76d;
	width: 100%;
}
body{
	background-color: #e8a76d;
}
ul{
	float:right;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color:#ac8e73;
	color: #000;
}

ul li.active a{
background-color:#ac8e73;
	color: #000;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
	border-radius: 30px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 85px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #ac8e73;
	padding: 5px 20px;
	color: wheat;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #ac8e73;
	color: #000;
}

.sub-menu{
	display: none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;

}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: 10px;
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;

}
.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}
.square{
	position: absolute;
	left: 50%;
	top: 75%;
	transform: 
	translate(-50%,-75%);width: 1300px;
	height: 580px;
	background: peru;
	border-radius: 30px;
}
.sign {
	font-size: 30px;
	font-weight: bold;
    
}
#smallsign{
	font-family: monospace;
	font-size: 12px;
	font-weight: bold;
	left: 10%;
	top: 20%;
	transform: 
	translate(-10%,-20%);
	color:rgb(105, 73, 34);
}
.square2 {
	position: absolute;
	left: 32%;
	top: 73%;
	transform: 
	translate(-50%,-75%);width: 560px;
	height: 580px;
	background: rgb(117, 71, 62);
	border-radius: 2px;
}
.square3 {
	position: absolute;
	left: 68%;
	top: 73%;
	transform: 
	translate(-50%,-75%);width: 600px;
	height: 580px;
	background: rgb(88, 53, 46);
	border-radius: 2px;
}
.square4 {
	position: absolute;
	left: 20%;
	top: 27%;
	transform: 
	translate(-50%,-75%);width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 10px;
}
.square5 {
	position: absolute;
	left: 20%;
	top: 45%;
	transform: 
	translate(-50%,-75%);width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 10px;
}
.square6 {
	position: absolute;
	left: 20%;
	top: 63%;
	transform: 
	translate(-50%,-75%);width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 10px;
}
.square7 {
	position: absolute;
	left: 20%;
	top: 81%;
	transform: 
	translate(-50%,-75%);width: 100px;
	height: 100px;
	background-size: cover;
	border-radius: 10px;
}
.down{
	position: absolute;
	left: 15%;
	top: 95%;
	transform: 
	translate(-50%,-75%);width: 80px;
	height: 40px;
	border-radius: 20px;
}
.square8 {
	position: absolute;
	left: 54%;
	top: 67%;
	transform: 
	translate(-50%,-75%);width: 300px;
	height: 300px;
	background-size: cover;
	border-radius: 10px;
}
#nutri{
	position: absolute;
	font-size: 45px;
	font-family: sans-serif;
	left: 71%;width: 800px;
	top: 15%;
	transform: 
	translate(-50%,-75%);
	color: #F2B076;
}
#grams {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	position: absolute;
	left: 72%;width: 800px;
	top: 22%;
	transform: 
	translate(-50%,-75%);
	color: #F6F6F6;
}
#reviews {
	width: 380px;
	height: 30px;
	position: absolute;
	left: 36%;
	top: 29%;
	transform: 
	translate(-50%,-75%);
}
#slashmrp{
	text-decoration-line: line-through;
    font-size: 19px;
    font-weight: 500;
    line-height: 24px;
	color: rgb(124, 131, 138);position: absolute;
	left: 18%;
	top: 36%;
	transform: 
	translate(-50%,-75%);
}
#mrp{
    font-size: 18px;
    font-weight: 500;
	color: rgb(124, 131, 138);
	position: absolute;
	left: 10%;
	top: 36%;
	transform: 
	translate(-50%,-75%);
	
}
#actualmrp{
	font-size: 20px;
    font-weight: 500;
	color: rgb(243, 229, 216);
	position: absolute;
	left: 26%;
	top: 36%;
	transform: 
	translate(-50%,-75%);
}
#offmrp{
	font-size: 21px;
    font-weight: 500;
	color: rgb(136, 223, 43);
	position: absolute;
	left: 37%;
	top: 36%;
	transform: 
	translate(-50%,-75%);
}
#taxes{
	font-size: small;
	color: #fff;
	position: absolute;
	left: 14%;
	top: 42%;
	transform: 
	translate(-50%,-75%);
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#login_button
{
	width: 25%;height:12%;border-radius: 15px;
	font-size: 30px;
	font-size: larger;
	color:  rgb(88, 53, 46);
	background-color: #F2B076;
	position: absolute;
	left: 20%;
	top: 90%;
	transform: 
	translate(-50%,-75%);
}
#slash{
	font-size: 90px;
	color: #F2B076;
	position: absolute;
	left: 37%;
	top: 92%;
	transform: 
	translate(-50%,-75%);
}
#cart_button
{
	width: 25%;height:12%;border-radius: 15px;
	font-size: 30px;
	font-size: larger;
	color:  rgb(88, 53, 46);
	background-color: #F2B076;
	position: absolute;
	left: 55%;
	top: 90%;
	transform: 
	translate(-50%,-75%);
}
#square9{
	position: absolute;
	left: 50%;
	top: 90%;
	transform:
	translate(-50%,-75%);width: 1100px;
	height: 750px;
	background:#b06e34;
	border-radius: 30px;
 }
 #us{
	position: absolute;
	left: 50%;
	top: 10%;
	transform:
	translate(-50%,-75%);
	color: rgb(216, 230, 243);
	font-size: 55px;
	background-color:#b06e34;
 }
 #p{
	width: 900px;
	position: absolute;
	left: 50%;
	top: 73%;
	transform:
	translate(-50%,-75%);
	font-size: 25px;
	color: #fff;
    background-color:#b06e34;
 
 }
 #back{
	background-color: #F2B076;
 }
 #productpage{

 }
 
 